.nav > a {
  background-color: grey;
  border-radius: 20px;
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.25s ease-in;
}

.nav > a:hover {
  color: gray;
  background-color: white;
  border: 1px solid gray;
}

.personal-img {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.personal-img::before {
  content: "";
  position: absolute;
  top: -120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0 0% 100% / 0.5);
  transform: rotate(90deg);
  transition: all 0.25s ease-in-out;
}

.personal-img:hover::before {
  top: 0;
  transform: rotate(0);
}

.personal-img h2 {
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translate(50%, -50%);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.personal-img:hover h2 {
  right: 50%;
}
