* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin: 2rem;
    background-color: #827397;
    padding: 1rem;
    border-radius: 0.5rem;
}

h3 {
    color: white;
    font-size: 2rem;
}

nav {
    display: flex;
    gap: 2rem;
    flex-basis: 30%;
}

nav a {
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    flex: 1 1 0%;
}

input {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background: none;
    outline: none;
    background-color: #e9d5da;
    font-size: 2rem;
}

@media screen and (max-width: 800px) {
    header {
        flex-wrap: wrap;
    }

    nav {
        order: 1;
        flex-basis: 100%;
    }
}