* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    display: grid;
    height: 100vh;
    place-content: center;
}

.pricing {
    width: 80rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    box-shadow: 2px 2px 30px 5px hsla(0 0% 83% / 0.5);
}

.pricing > div {
    display: grid;
    align-items: center;
    gap: 2rem;

    padding: 4rem;
}

.pricing__community {
    grid-column: 1 / -1;

    background-color: #1d5c63;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.pricing__community--title {
    font-size: 3rem;
}

.pricing__community--guarentee {
    font-size: 1.6rem;
}

.pricing__community--community {
    font-size: 1.3rem;
}

.pricing__subscription {
    background-color: #3bacb6;
    color: white;
    border-bottom-left-radius: 1rem;
}

.pricing__subscription--title {
    font-size: 2rem;
}

.pricing__subscription--price {
    font-size: 1.4rem;
    font-weight: 100;
}

.pricing__subscription--price span:last-child {
    display: block;
}

.pricing__subscription--sign-up {
    background-color: #1d5c63;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.pricing__why {
    background-color: #2f8f9d;
    border-bottom-right-radius: 1rem;
    color: white;
}

.pricing__why--title {
    font-size: 2rem;
}

.pricing__why--list {
    display: grid;
    row-gap: 1rem;
}

.pricing__why--list li {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 100;
}